.loadingSpinner-container,
.countriesList .error-container{
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  display: block;
  color: var(--text-color);
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em,
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em,
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}



.input-dropdown-container{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 24px;
  padding-left: 16px;
}

.input-dropdown-container .dropdown{
  width: 200px;
  position: relative;
  cursor: pointer;
}

.input-dropdown-container .dropdown .select{
  background-color: var(--elements-color);
  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  padding-left: 24px;
  padding-right: 19px;
}

.input-dropdown-container .dropdown .select span{
  font-size: .75rem;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-color);
}

.input-dropdown-container .dropdown .select svg path{
  fill: var(--text-color);
}

.input-dropdown-container .dropdown .select svg.rotate{
  transform: rotate(180deg);
}

.input-dropdown-container .dropdown .menu{
  border-radius: 5px;
  position: absolute;
  width: 100%;
  left: 50%;
  top: calc(100% + 4px);
  translate: -50%;
  background-color: var(--elements-color);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: .2s;
}

.input-dropdown-container .dropdown .menu li{
  font-size: .75rem;
  font-weight: 400;
  line-height: 16px;
  color: var(--text-color);
  padding: 8px 0;
  padding-left: 24px;
}

.input-dropdown-container .dropdown .menu li:hover{
  box-shadow: inset 0px 2px 30px 0px rgba(0, 0, 0, 0.1);
}

.input-dropdown-container .dropdown .menu li:last-child:hover{
  border-radius: 0 0 5px 5px;
}

.input-dropdown-container .dropdown .menu li:first-child:hover{
  border-radius: 5px 5px 0 0;
}

.input-dropdown-container .dropdown.dropdownOpened .menu{
  opacity: 1;
  visibility: visible;
}

.input-dropdown-container .resetButton{
  position: absolute;
  bottom: 24px;
  left: 240px;
  transform: translateY(50%);
  border: none;
  outline: none;
  background-color: var(--elements-color);
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text-color);
}

.countriesList{
  position: relative;
  display: grid;
  grid-template-columns: 264px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 32px;
}

.countriesList .error-container h4{
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 600;
}


@media(min-width: 730px){

  .countriesList{
    grid-template-columns: 264px 264px;
    gap: 75px;
  }
}

@media(min-width: 1100px){

  .countriesList{
    grid-template-columns: 264px 264px 264px;
    margin-top: 48px;
  }

  .input-dropdown-container .resetButton{
    cursor: pointer;
  }

  .input-dropdown-container .resetButton:hover{
    box-shadow: inset 0px 2px 30px 0px rgba(0, 0, 0, 0.1);
  }
}

@media(min-width: 1440px){

  .countriesList{
    grid-template-columns: 264px 264px 264px 264px;
  }
}

@media(min-width: 1440px){

  .input-dropdown-container{
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    padding: 0 80px;
  }

  .input-dropdown-container .dropdown .select{
    padding: 18px 0;
    padding-left: 24px;
    padding-right: 22px;
  }

  .input-dropdown-container .dropdown .select span{
    font-size: .875rem;
  }

  .input-dropdown-container .dropdown .menu li{
    font-size: .875rem;
    padding: 12px 0;
    padding-left: 24px;
  }

  .input-dropdown-container .dropdown .menu li:hover{
    box-shadow: inset 0px 2px 30px 0px rgba(0, 0, 0, 0.2);
  }

  .input-dropdown-container .resetButton{
    left: initial;
    right: 310px;
  }
}
