<div class="input-dropdown-container">
  <app-search-country (searchCountry)="searchContry($event)"></app-search-country>
  <div class="dropdown" (click)="dropdownToggle()" [ngClass]="{'dropdownOpened': dropdownOpened}">
    <div class="select">
      <span>Filter by Region</span>
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Group 2">
        <g id="expand-more">
        <path id="Shape" fill-rule="evenodd" clip-rule="evenodd" d="M7.875 2.875L5 5.75L2.125 2.875L1.25 3.75L5 7.5L8.75 3.75L7.875 2.875Z" fill="black"/>
        </g>
        </g>
        </svg>
    </div>
    <ul class="menu">
      <li>Africa</li>
      <li>America</li>
      <li>Asia</li>
      <li>Europe</li>
      <li>Oceania</li>
    </ul>
  </div>
</div>
<ul class="countriesList">
  <li *ngFor="let country of (countries | async)">
    <app-card [country]="country"></app-card>
  </li>
</ul>
