<div class="input-dropdown-container">
  <app-search-country #appSearch></app-search-country>
  <div class="dropdown" (click)="dropdownToggle()" [ngClass]="{'dropdownOpened': dropdownOpened}">
    <div class="select">
      <span>{{region}}</span>
      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Group 2">
        <g id="expand-more">
        <path id="Shape" fill-rule="evenodd" clip-rule="evenodd" d="M7.875 2.875L5 5.75L2.125 2.875L1.25 3.75L5 7.5L8.75 3.75L7.875 2.875Z" fill="black"/>
        </g>
        </g>
        </svg>
    </div>
    <ul class="menu">
      <li (click)="filterByRegion('Africa')">Africa</li>
      <li (click)="filterByRegion('America')">America</li>
      <li (click)="filterByRegion('Asia')">Asia</li>
      <li (click)="filterByRegion('Europe')">Europe</li>
      <li (click)="filterByRegion('Oceania')">Oceania</li>
    </ul>
  </div>
  <button class="resetButton" (click)="reset()">Reset filters</button>
</div>
<ul class="countriesList">
  <div class="loadingSpinner-container">
    <span class="loader" *ngIf="loadingSpinner"></span>
  </div>
  <div class="error-container" *ngIf="errorMessage">
    <h4>
      No countries were found
    </h4>
  </div>
  <div *ngFor="let country of countries">
    <li *ngIf="displayCountries">
      <app-card [country]="country"></app-card>
    </li>
  </div>
</ul>

